    @using EntityLayer.Concrete
    @model List<Game>
<!-- Recent Posts = Games Start -->
<section class="recent-posts">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">
                    <div class="single-rpost d-sm-flex align-items-center" data-aos="fade-right"
                     data-aos-duration="800">
                        <div class="post-content text-sm-right">
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                        </div>
                        <div class="post-thumb">
                            <img class="img-fluid" src="@item.ImageUrl" alt="Post 1">
                        </div>
                    </div>
                </div>

            }
        </div>
        <div class="text-center">
            <a href="#" class="btn btn-primary">See More</a>
        </div>
    </div>
</section>
<!-- Recent Posts End -->